[Unit]
Description=Redis Sentinel
After=network.target

[Service]
ExecStart={{ redis_sentinel_executable | default('/usr/local/bin/redis-sentinel') }} /etc/redis/sentinel_%i.conf
ExecStop=/bin/kill -s TERM $MAINPID
User={{ redis_user | default('redis') }}
Group={{ redis_group | default('redis') }}
RuntimeDirectory=redis
RuntimeDirectoryMode=0755
Type=simple
PIDFile=/var/run/redis/sentinel_%i.pid
Restart=on-failure
LimitNOFILE={{ redis_ulimit_nofile | default('65536') }}

[Install]
WantedBy=multi-user.target