---
- name: Install security packages
  ansible.builtin.package:
    name:
      - fail2ban
      - ufw
    state: present
  when: security.fail2ban.enabled | default(true) or security.ufw.enabled | default(true)
- name: Configure fail2ban
  ansible.builtin.template:
    src: fail2ban.jail.local.j2
    dest: /etc/fail2ban/jail.local
    owner: root
    group: root
    mode: "0644"
  when: security.fail2ban.enabled | default(true)
  notify: Restart fail2ban
- name: Enable fail2ban service
  ansible.builtin.service:
    name: fail2ban
    state: started
    enabled: true
  when: security.fail2ban.enabled | default(true)
- name: Configure UFW default policies
  community.general.ufw:
    direction: "{{ item.direction }}"
    policy: "{{ item.policy }}"
  loop:
    - direction: incoming
      policy: deny
    - direction: outgoing
      policy: allow
  when: security.ufw.enabled | default(true)
- name: Allow SSH through UFW
  community.general.ufw:
    rule: allow
    name: OpenSSH
  when: security.ufw.enabled | default(true)
- name: Allow HTTP through UFW
  community.general.ufw:
    rule: allow
    port: "80"
    proto: tcp
  when: security.ufw.enabled | default(true)
- name: Allow HTTPS through UFW
  community.general.ufw:
    rule: allow
    port: "443"
    proto: tcp
  when: security.ufw.enabled | default(true)
- name: Enable UFW
  community.general.ufw:
    state: enabled
  when: security.ufw.enabled | default(true)
- name: Configure SSH security
  ansible.builtin.lineinfile:
    path: /etc/ssh/sshd_config
    regexp: "{{ item.regexp }}"
    line: "{{ item.line }}"
    state: present
  loop:
    - regexp: ^PermitRootLogin
      line: PermitRootLogin no
    - regexp: ^PasswordAuthentication
      line: PasswordAuthentication no
  when: security.ssh.disable_root | default(true) or not security.ssh.password_auth | default(true)
  notify: Restart ssh
- name: Configure sysctl security settings
  ansible.builtin.template:
    src: sysctl-security.conf.j2
    dest: /etc/sysctl.d/99-security.conf
    owner: root
    group: root
    mode: "0644"
  notify: Reload sysctl
