---
- name: Install SSL packages
  ansible.builtin.package:
    name:
      - openssl
      - ca-certificates
    state: present
- name: Create ssl-cert group
  ansible.builtin.group:
    name: ssl-cert
    state: present
- name: Create SSL certificate directory
  ansible.builtin.file:
    path: "{{ nginx.ssl.certificate_path }}"
    owner: root
    group: root
    mode: "0755"
    state: directory
- name: Create SSL private key directory
  ansible.builtin.file:
    path: "{{ nginx.ssl.private_key_path }}"
    owner: root
    group: ssl-cert
    mode: "0710"
    state: directory
- name: Generate self-signed SSL certificates
  ansible.builtin.shell:
    cmd: "openssl req -x509 -nodes -days 365 -newkey rsa:2048 \\\n  -keyout {{ nginx.ssl.private_key_path }}/{{ item.key }}.key \\\n  -out {{ nginx.ssl.certificate_path
      }}/{{ item.key }}.crt \\\n  -subj \"/C=US/ST=Example/L=Example/O=Example Org/OU=IT/CN={{ item.key }}/emailAddress=admin@example.com\"\nchmod 640 {{ nginx.ssl.private_key_path
      }}/{{ item.key }}.key\nchown root:ssl-cert {{ nginx.ssl.private_key_path }}/{{ item.key }}.key\n"
  args:
    creates: "{{ nginx.ssl.certificate_path }}/{{ item.key }}.crt"
  loop: "{{ nginx.sites | dict2items }}"
  when: item.value.ssl_enabled | default(false)
  notify: Reload nginx
