- name: Reload nginx
  ansible.builtin.service:
    name: nginx
    state: reloaded
- name: Restart nginx
  ansible.builtin.service:
    name: nginx
    state: restarted
- name: Restart fail2ban
  ansible.builtin.service:
    name: fail2ban
    state: restarted
- name: Restart ssh
  ansible.builtin.service:
    name: ssh
    state: restarted
- name: Reload sysctl
  ansible.builtin.command:
    cmd: sysctl --system
  register: sysctl_result
  changed_when: false
  tags:
  - skip_ansible_lint
